<%- contentFor('body') %>
    <div class="container container-slider">
        <!-- Página Inicial -->
        <!-- <a href="/testAPI">TestApi</a> -->
        <br>
    </div>
    <style>
        .cads-unit {
            -webkit-transition: 0.2 s;
            transition: 0.3s;
            box-shadow: 0px 1px 10px 0px #00000014;
            height: 25px;
            border-radius: 7px;
            background: #f6f6f6;
            margin: 10px;
            color: #1f497f;

        }

        .cads-unit {
            padding-top: 0.%;

        }

        .cads-unit:hover {
            -webkit-transition: 0.2 s;
            transition: 0.3s;
            background: #ffffff;



        }
    </style>
    <div class="container-fluid container-home" style="padding: 0px;">
        <div class="container-fluid slide-home" style="  background: #efefef;    height: 64px;
        padding: 5px;">

            <span style="    position: relative; 
            top: 21px;">

            </span>
            <div class="cads container" style="display: flex;     position: relative;
             ">
                <div align="center" class=" cads-unit" style=" width: 200px;">
                    <span>Kendo</span>

                </div>

                <div align="center" class="cads-unit" style="width: 10%; ">
                    <span>Node</span>

                </div>



                <div align="center" class="cads-unit" style="width: 10%;">
                    <span>Google Cloud</span>

                </div>
                <div align="center" class="cads-unit" style="width: 10%;">
                    <span>Gloud</span>

                </div>
                <div align="center" class="cads-unit" style=" width: 10%;">
                    <span>API Vision</span>


                </div>

                <div align="center" class="cads-unit" style="width: 10%; ">
                    <span>Jquery</span>

                </div>
                <div align="center" class="cads-unit" style="width: 10%; ">
                    <span>Jso</span>

                </div>



                <div align="center" class="cads-unit" style="width: 10%;">
                    <span>Serve/Node</span>

                </div>
                <div align="center" class="cads-unit" style="width: 10%;">
                    <span>Ejs</span>

                </div>
            </div>

            <div class="container-fluid" style="height: 290px; background: #ffffff80;margin-top: 10px;padding: 0px">

                <div class="container">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- home page -->
                    <ins class="adsbygoogle" style="margin-top: 10px; display:inline-block;width:100%;height:90px" data-ad-client="ca-pub-1704070251680816" data-ad-slot="6458138623"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    <div class="row ">
                        <div class="col-sm-6 align-middle" style=" ">
                            <p style="margin: 11px; color: 1f497f">Framework
                                <Strong> Kendo-UI</Strong>
                            </p>
                        </div>
                        <div class="col-sm-6" style="">
                         </div>
                    </div>

                    <div class="card-home" style="height: 210px;">

                        <div class="col-sm-12" style="margin: 5px">
                            <div class="row">
                                <div class="col-sm-12 cads-cel-home">
                                    <img src="img/kendo12223.jpeg" alt="">
                                    <p style="font-size: 84%;color: #ffffff;position: relative;top: -63px;color: #ffffff;background: #1f497f8a;left: 0px;padding: 8px;padding-bottom: 34px;border-radius: 0px 0px 17px 17px;">Gerencie seus usuarios utilizando
                                        <strong style="color: #ffffff;">Kendo-UI/Pie Charts</strong>
                                    </p>
                                    <button class="btn">
                                        <a style="text-decoration: none;" href="/tutorial?ref=1">Acessar</a>
                                    </button>
                                </div>



                            </div>

                        </div>
                        <div class="col-sm-12" style="margin: 5px">
                            <div class="row">
                                <div class="col-sm-12 cads-cel-home">
                                    <img src="img/gridkendo.png" alt="">
                                    <p style="font-size: 84%;color: #ffffff;position: relative;top: -63px;color: #ffffff;background: #1f497f8a;left: 0px;padding: 8px;padding-bottom: 34px;border-radius: 0px 0px 17px 17px;">tabelas dinamicas
                                        <strong style="color: #ffffff;">Kendo-UI/Grids</strong>
                                    </p>
                                    <button class="btn"> Acessar</button>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12" style="margin: 5px">
                            <div class="row">
                                <div class="col-sm-12 cads-cel-home">
                                    <img src="img/gridkendo.png" alt="">

                                    <button class="btn"> Acessar</button>

                                </div>



                            </div>

                        </div>
                        <div class="col-sm-12" style="margin: 5px">
                            <div class="row">
                                <div class="col-sm-12 cads-cel-home">
                                    <button class="btn"> Acessar</button>

                                </div>



                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <!-- ///////////////////////////////////// -->
            <br><br><br>
            <div class="container-fluid container-home" style="padding: 0px;">
                <div class="container-fluid slide-home" style="padding: 0px;   ;    height: 64px;
               ">




                    <div class="container-fluid" style="height: 290px; background: #ffffff80    ;margin-top: 10px;padding: 0px">

                        <div class="container">
                            <div class="row ">
                                <div class="col-sm-6 align-middle">
                                    <p style="margin: 11px; color: 1f497f">API
                                        <Strong> Google Maps</Strong>
                                    </p>
                                </div>
                                <div class="col-sm-6" style="">
                                 </div>
                            </div>

                            <div class="card-home" style="height: 210px;">

                                <div class="col-sm-12" style="margin: 5px">
                                    <div class="row">
                                        <div class="col-sm-12 cads-cel-home">
                                            <button class="btn"> Acessar</button>

                                        </div>



                                    </div>

                                </div>
                                <div class="col-sm-12" style="margin: 5px">
                                    <div class="row">
                                        <div class="col-sm-12 cads-cel-home">
                                            <button class="btn"> Acessar</button>

                                        </div>



                                    </div>

                                </div>
                                <div class="col-sm-12" style="margin: 5px">
                                    <div class="row">
                                        <div class="col-sm-12 cads-cel-home">
                                            <button class="btn"> Acessar</button>

                                        </div>



                                    </div>

                                </div>
                                <div class="col-sm-12" style="margin: 5px">
                                    <div class="row">
                                        <div class="col-sm-12 cads-cel-home">
                                            <button class="btn"> Acessar</button>

                                        </div>



                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>





                </div>



























            </div>

            <!-- Página Inicial -->
            <!-- <a href="/testAPI">TestApi</a> -->

            <br>
        </div>

        <script>
            $(document).ready(function () {

                $('.cads').slick({
                    infinite: true,
                    speed: 100,
                    slidesToShow: 8,
                    autoplay: true,
                    autoplaySpeed: 5000,
                    slidesToScroll: 1,

                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 5,
                                slidesToScroll: 3,
                                infinite: true,
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 4,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 2,

                            }
                        }
                        // You can unslick at a given breakpoint now by adding:
                        // settings: "unslick"
                        // instead of a settings object
                    ]
                });

                $('.card-home').slick({
                    infinite: true,
                    speed: 300,
                    slidesToShow: 3,

                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 3,
                                infinite: true,
                            }
                        },

                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                        // You can unslick at a given breakpoint now by adding:
                        // settings: "unslick"
                        // instead of a settings object
                    ]
                });



                $('.slick-prev, .slick-next').hide();



            });





            $(window).resize(function () {
                $('.slick-prev, .slick-next').hide();
            });



        </script>